*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# ignore large files 
*.zip
*.tar.gz

# ignore MacOS file system stuff
.DS_Store